<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>menin_budzhetim</title>
  <base href="/menin_budzhetim/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="manifest.json">
</head>
<body>
  <script src="main.dart.js" type="application/javascript"></script>
</body>
</html>
